body {
  display: flex;
  justify-content: center;
  width: 100%;
}

input {
  margin-top: 2px;
  margin-bottom: 10px;
}

#userSelectionArea {
  display: flex;
  flex-direction: column;
  width: 400px;
}

#multiChoice {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

#submit {
  font-size: 24px;
}
